body {
    background: #EFEFEF !important;
    font-family: 'Libre Franklin', sans-serif;
    padding: 4em;
    /*background: #FBFDFE !important;*/
}
.fb-blue {
    color: #1C85DA;
}
h1 {
    text-align: center; 
}
ul {
    list-style-type: none !important;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
li {
    width: 300px;
    border-radius: 15px;
    padding: 2em;
    margin: 1em;
}
#app {
    margin-top: 6em;
}
.container {
    max-width: 1440px !important;
}
.center {
    text-align: center;
}
.strong {
    font-weight: 700
}
.subhead {
    font-size: 12px;
    margin-right: 0.5em;
}
.fade {
    opacity: 0.3
}
.caps {
    text-transform: uppercase;
    /*letter-spacing: .1em;*/
}

.pad-sm {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.med {
    font-size: 1.2em;
    line-height: 1.5;
}

.pill {
    border-radius: 2px;
    min-width: 18px;
    height: 18px;
    font-size: 13px;
    font-weight: 400;
}
.truncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.blue-light2, .blueLight2, .blueLight2-hover:hover, .blueLight2-focus:focus {
    background-color: #cfdfff;
}

.rounded {
    border-radius: 6px !important;
}
.full-rounded {
    border-radius: 999px;
}
.button-stroked {
    box-shadow: 0 0 0 2px rgba(0,0,0,0.05)
}

.galleryCardContainer {
    background: #fff;
    transition-property: transform, top, left;
    -webkit-transition-property: transform, top, left;
    -moz-transition-property: transform, top, left;
    transition-duration: 0.08s, 0.2s, 0.2s;
    -webkit-transition-duration: 0.08s, 0.2s, 0.2s;
    -moz-transition-duration: 0.08s, 0.2s, 0.2s;
    transition-timing-function: ease-out, ease-in-out, ease-in-out;
    -webkit-transition-timing-function: ease-out, ease-in-out, ease-in-out;
    -moz-transition-timing-function: ease-out, ease-in-out, ease-in-out;
    transition-delay: 0s;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    height: fit-content;

}
.fb-cards {
    border: 1px solid #cdd4d9;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    box-shadow: 2px 2px 0 rgba(6,41,66,.1);
}
.show-meta {
    width: 100%;
    margin: 0 auto;
}
/*span {
    background: #FDD9DE;
    color: #F7435F;
    padding: 1em;
}*/
.available span {
    background: #E7F3D3;
    color:#86C332;
}
.nearby span:after {
    content: "nearby"
    margin-left 10px;
}

.trades-pill {
    background: #C4F5E9;
}


.negative {
    background: #FDD9DE;
    color: #F7435F;

}
.positive {
    background: #E7F3D3;
    color:#86C332;
}
.neutral {
    background: #E6EAEC;
    color: #8394A0;   
}
.search-group {
    float: right;
}
.form__options {
    width: auto;
}