<!DOCTYPE html>
<html>
    <head>
        <title>FreshBooks Research Nuggets</title>
        <link rel="shortcut icon" type="image/png" href="favicon.ico"/>
		<!-- <link rel="shortcut icon" type="image/png" href="http://eg.com/favicon.png"/> -->
    	<link href='css/style.css' rel='stylesheet' type='text/css'>
    	<link href='css/spectre.css' rel='stylesheet' type='text/css'>

		<!-- Google Font -->
		<link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,700" rel="stylesheet">
		<!-- Typekit -->
		<link rel="stylesheet" href="https://use.typekit.net/hzn3nmf.css">

    </head>
    <body>
		<div class="container container-pad">
			<h1 class="fb-blue">FreshBooks Research Nuggets</h1>
			<p class="site-desc">Sharing insights that help us get to know our customers better.</p>	
		<!-- App -->
		<div id="app" class="columns">
		<!-- Filters -->
			<form class="column col-3 col-md-12 col-sm-12 master_filter" action="#">
				<!-- Search -->
				<div class="search-group">
					<input class="form-input" v-model="search" class="form-control" type="text" id="input-example-1" placeholder="Search nuggets">
				</div>
				<!-- Sort By Date -->
				<div class="form__field form_options filters">
					<fieldset>
					<!-- details and summary Accordions example -->
					<details class="accordion">
					  <summary class="accordion-header">
					    <div class="collapsible-filters__title">Sort By</div>
						    <div class="collapsible-filters__label">Recent</div><i class="icon icon-arrow-right mr-1"></i>
					  </summary>
					  <div class="accordion-body">
					    <!-- Accordions content -->
					    <div class="filter-options form-group">
					    	<label class="form-radio"><input id="sort_1" name="sort_by" v-model="sort_by" value="id" type="radio"><i class="form-icon"></i> Newest first</label><br>
					    	<label class="form-radio"><input id="sort_2" name="sort_by" v-model="sort_by" value="id" type="radio"><i class="form-icon"></i> Oldest first</label><br>
						</div> <!-- /end form-group -->
					  </div> <!-- /end filter-group -->
					</details>
					</fieldset>
				</div>
				<!-- Filter Industry -->
				<div class="form__field form_options filters">
					<fieldset>
					<!-- details and summary Accordions example -->
					<details class="accordion">
					  <summary class="accordion-header">
					    <div class="collapsible-filters__title">Industry</div>
						    <div class="collapsible-filters__label">All</div><i class="icon icon-arrow-right mr-1"></i>
					  </summary>
					  <div class="accordion-body">
					    <!-- Accordions content -->
					    <div class="filter-options form-group">
					    	<label class="form-radio"><input id="sort_1" name="sort_by" v-model="sort_by" value="all" type="radio" checked><i class="form-icon"></i>All</label><br>
					    	<label class="form-radio"><input id="sort_2" name="sort_by" v-model="sort_by" value="id" type="radio"><i class="form-icon"></i> {Trades & Home Services}</label><br>
					    	<label class="form-radio"><input id="sort_3" name="sort_by" v-model="sort_by" value="id" type="radio"><i class="form-icon"></i> {Creative/Marketing}</label><br>
					    	<label class="form-radio"><input id="sort_4" name="sort_by" v-model="sort_by" value="id" type="radio"><i class="form-icon"></i> {Information Technology}</label><br>
					    	<label class="form-radio"><input id="sort_5" name="sort_by" v-model="sort_by" value="id" type="radio"><i class="form-icon"></i> {Business Consulting & Legal Services}</label><br>
					    	<label class="form-radio"><input id="sort_6" name="sort_by" v-model="sort_by" value="id" type="radio"><i class="form-icon"></i> {Other}</label><br>
						</div> <!-- /end form-group -->
					  </div> <!-- /end filter-group -->
					</details>
					</fieldset>
				</div>
				<!-- Filter Experience -->
				<div class="form__field form_options filters">
					<fieldset>
					<!-- details and summary Accordions example -->
					<details class="accordion">
					  <summary class="accordion-header">
					    <div class="collapsible-filters__title">Experience</div>
						    <div class="collapsible-filters__label">All</div><i class="icon icon-arrow-right mr-1"></i>
					  </summary>
					  <div class="accordion-body">
					    <!-- Accordions content -->
					    <div class="filter-options form-group">
					    	<label class="form-radio"><input id="sort_1" name="sort_by" v-model="sort_by" value="all" type="radio" checked><i class="form-icon"></i> All</label><br>
					    	<label class="form-radio"><input id="sort_1" name="sort_by" v-model="sort_by" value="Positive" type="radio"><i class="form-icon"></i> Positive</label><br>
					    	<label class="form-radio"><input id="sort_2" name="sort_by" v-model="sort_by" value="Negative" type="radio"><i class="form-icon"></i> Negative</label><br>
					    	<label class="form-radio"><input id="sort_3" name="sort_by" v-model="sort_by" value="Neutral" type="radio"><i class="form-icon"></i> Neutral</label><br>
						</div> <!-- /end form-group -->
					  </div> <!-- /end filter-group -->
					</details>
					</fieldset>
				</div>
				<!-- Persona  -->
				<div class="form__field form_options filters">
					<fieldset>
					<!-- details and summary Accordions example -->
					<details class="accordion">
					  <summary class="accordion-header">
					    <div class="collapsible-filters__title">Customer Persona</div>
						    <div class="collapsible-filters__label">All</div><i class="icon icon-arrow-right mr-1"></i>
					  </summary>
					  <div class="accordion-body">
					    <!-- Accordions content -->
					    <div class="filter-options form-group">
					    	<label class="form-checkbox"><input id="sort_1" name="sort_by" v-model="sort_by" value="id" type="checkbox" checked="checked"><i class="form-icon"></i> All</label><br>
					    	<label class="form-checkbox"><input id="sort_1" name="sort_by" v-model="sort_by" value="id" type="checkbox"><i class="form-icon"></i> {Craftsperson}</label><br>
					    	<label class="form-checkbox"><input id="sort_2" name="sort_by" v-model="sort_by" value="id" type="checkbox"><i class="form-icon"></i> {Builder}</label><br>
					    	<label class="form-checkbox"><input id="sort_3" name="sort_by" v-model="sort_by" value="id" type="checkbox"><i class="form-icon"></i> {Accountant}</label><br>
					    	<label class="form-checkbox"><input id="sort_4" name="sort_by" v-model="sort_by" value="id" type="checkbox"><i class="form-icon"></i> {Bookkeeper}</label><br>
					    	<label class="form-checkbox"><input id="sort_5" name="sort_by" v-model="sort_by" value="id" type="checkbox"><i class="form-icon"></i> {Business Partner}</label><br>
					    	<label class="form-checkbox"><input id="sort_6" name="sort_by" v-model="sort_by" value="id" type="checkbox"><i class="form-icon"></i> {Project Manager}</label><br>
					    	<label class="form-checkbox"><input id="sort_7" name="sort_by" v-model="sort_by" value="id" type="checkbox"><i class="form-icon"></i> {Independant Contractor}</label><br>
					    	<label class="form-checkbox"><input id="sort_8" name="sort_by" v-model="sort_by" value="id" type="checkbox"><i class="form-icon"></i> {Basic Employee}</label><br>
					    	<label class="form-checkbox"><input id="sort_9" name="sort_by" v-model="sort_by" value="id" type="checkbox"><i class="form-icon"></i> {Client}</label><br>
						</div> <!-- /end form-group -->
					  </div> <!-- /end filter-group -->
					</details>
					</fieldset>
				</div>
			</form>

			<!-- Nuggets Grid -->
	        <div class="column col-7 col-md-12 col-sm-12">    
	        	<ul>
	                <li v-for="item in items" class="galleryCardContainer rounded button-stroked col-12">
	                    <!-- <h3>{{ item['fields']['Item'] }}</h3> -->
	                    <p class="med"><i>"{{ item['fields']['Insight'] | snippet }}"</i></p>
	                    <!--  -->
	                    <div class="show-meta center"><a v-on:click="show = !show" class="actions">Show details</a></div>
	                    <span class="meta-data" v-if="!show">
	                    <p><span class="fade caps subhead">Industry:</span><strong class="pill full-rounded blue-light2 pad-sm">{{ item['fields']['Industry'] }}</strong></p>
	                    <p><span class="fade caps subhead">Mandate:</span><strong class="pill full-rounded ">{{ item['fields']['Mandate'] }}</strong></p>
	                    <p><span class="fade caps subhead">Personas/Role:</span><strong class="pill full-rounded ">{{ item['fields']['Personas/Roles'] }}</strong></p>
	                    <p class="truncate"><span class="fade caps subhead">Evidence:</span><a v-bind:href="url">{{ item['fields']['Evidence'] }}</a></p>
	                    <p><span class="fade caps subhead">Experience Vector:</span><strong class="pill full-rounded blue-light2 pad-sm">{{ item['fields']['Experience vector'] }}</strong></p>
	                    <p><span class="fade caps subhead">Research Method:</span><strong class="pill full-rounded blue-light2 pad-sm">{{ item['fields']['Research Method'] }}</strong></p>
	                    <p><span class="fade caps subhead">Team Member:</span><strong class="pill full-rounded ">{{ item['fields']['Team Member'] }}</strong></p>
	                    <p><span class="fade caps subhead">Frequency:</span><strong class="pill full-rounded blue-light2 pad-sm">{{ item['fields']['Frequency'] }}</strong></p>
	                    <!-- <p><strong>Category: </strong>{{ item['fields']['Category'] }}</p> -->
	                    <!-- <img :src="item['fields']['Photo'][0]['thumbnails']['large']['url']" alt="" v-if="item['fields']['Photo']" width="150"> -->
	                    </span>
	                </li>
	            </ul>  
			</div><!--/end Grid-->
        </div><!--/end App-->
        </div> <!-- /end Container -->

        <section class="footer full-width">
        <!-- Subscribe -->
        <div class="container site-footer pad-lg">
        	<div class="site-footer__subscribe col-8 col-md-12 col-sm-12 centered">
    			<h2 class="site-footer__subscribe-header center">Stay Inspired!</h2>
			    <p class="site-footer__subscribe-explanation center">Sign up for the weekly Research Nuggets digest straight in your inbox.</p>
    			<div id="ember5514" class="site-footer__mailing-list-form mailing-list-form ember-view">
	    			<form action="" class="mailing-list-form__form col-8 col-md-10 col-sm-10 centered" data-ember-action="">
					    <!-- fields -->
					    <div class="input-group">
							<input type="email" required="" class="form-input input-lg mailing-list-form__email-input" placeholder="Enter email address">
							<button class="btn btn-primary input-group-btn btn-lg">Submit</button>
			            </div>

					    <!-- spam bot detection -->
					    <div style="position: absolute !important;left: -999em !important;" class="mailing-list-form__captcha-wrapper">
					      <input placeholder="We use this field to detect spam bots. If you fill this in, you will be marked as a spammer." type="text">
					    </div>

					</form>
				</div>
			</div>
			<p class="center copyright">Designed and built with <span class="text-error">♥</span> © 2018 - <a href="https://freshbooks.com" target="_blank">FreshBooks</a></p>
		</div>
        <!-- /end subscribe -->
        </section>
        
        <!-- Include Dependancy Scripts -->
        <script type="text/javascript" src="https://unpkg.com/vue"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
		<script type="text/javascript">
		            // Filter insights to 100 characters
		            Vue.filter('snippet', function(value){
						return value.slice(0,200) + ""; 
						// If you want to truncate snippet
						// return value.slice(0,200) + "...";
					});

					// End Filters

		            var app = new Vue({
		                el: '#app',
		                data: {
		                	// filters
			                	show: true,
			                	error: false,
			                	success: false,
		                	// end filters
		                    items: [],
		                },
		                mounted: function(){
		                   this.loadItems(); 
		                },
		                methods: {
		                    loadItems: function(){
		                        
		                        // Init variables
		                        var self = this
		                        var app_id = "appLMf09fXfYNAbI9";
		                        var app_key = "keyQ0cnHS9f43gbzG";
		                        this.items = []
								axios.get(
		                            "https://api.airtable.com/v0/"+app_id+"/Nuggets?maxRecords=1000&view=By%20Vector%2FMagnitude",
		                            { 
		                                headers: { Authorization: "Bearer "+app_key } 
		                            }
		                        ).then(function(response){
		                            self.items = response.data.records
		                        }).catch(function(error){
		                            console.log(error)
		                        })
		                    }
		                },
		                // computed: {
		                // 	compClasses: function (){
		                // 		return {
		                // 			available: this.available,
		                // 			nearby: this.nearby
		                // 		}
		                // 	}
		                // },
		                
		            })</script>
    </body>
</html>

<!-- 
API key: keyQ0cnHS9f43gbzG
bases App ID: appLMf09fXfYNAbI9

 -->